/* styles/page.css */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.page-container {
    padding: 0 2rem;
  }
    
  .page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .explore-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .embeddings-section{
    margin-top: 100px;
    width: 70%;
  }
  
  .page-title {
    margin: 0;
    line-height: 1.15;
    font-size: 32pt;
    text-align: center;
    font-family: 'Patua One', sans-serif; /* Add the fallback font */
  }
  
  .page-subtitle {
    font-family: 'Open Sans', sans-serif; /* Add the fallback font */
    text-align: center;
    margin: 1rem 0rem;
    font-size: 12pt;
    width: 60%;
  }
  
/* Add to styles/page.css */
.input-container {
    display: flex;
    align-items: flex-start; /* This ensures vertical alignment */
    width: 60%;
  }
  
.page-input {
    margin-top: 2rem;
    font-size: 12pt;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    flex-grow: 1; /* Allows the input to grow and fill the space */
    margin-right: 0.5rem; /* Adds a small space between the input and the button */
    width: 60%;
    border-radius: 12px;
    min-height: 4rem;
  }
  
  .explore-button {
    font-family: 'Open Sans', sans-serif; /* Add the fallback font */
    padding: 0.5rem 1rem;
    font-size: 12pt;
    margin-top: 2rem;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #00c500;
    color: white;
    border-radius: 12pt;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
/* New hover styles */
.explore-button:hover {
    background-color: #000000; /* Darker shade on hover */
  }
  
  /* New focus styles */
  .explore-button:focus {
    outline: 2px solid #000000; /* Outline to show focus, can be adjusted for visibility */
    outline-offset: 2px; /* Optional: adds space between the button border and the outline */
  }

  .number-input::-webkit-inner-spin-button,
  .number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .number-input {
    margin-top: 2rem;
    font-size: 12pt;
    padding: 0.5rem;
    margin-right: 0.5rem; /* To add some space between this input and the "Explore" button */
    border: 1px solid #cccccc;
    width: 45px; /* Adjust the width as needed */
    border-radius: 12px;
    text-align: center;
  }

  .checkbox-container {
    display: flex;
    align-items: center; /* This ensures vertical alignment of the checkbox and label */
    justify-content: flex-start; /* Aligns the content to the left */
    width: 60%; /* Ensures the container spans the full width of its parent */
  }
  
  .explore-same-entry-ids-checkbox {
    margin: 10px;
    justify-self: start;
  }

  /* Target the label by its 'for' attribute */
label[for="explore-same-entry-ids-checkbox"] {
    font-size: 11pt; /* Adjust the font size as needed */
  }  
  
  .input-container label {
    margin-left: 0px;
  }  

  .info-icon {
    cursor: pointer; /* Indicates interactive element */
    display: inline-flex; /* Aligns icon with text */
    align-items: center; /* Vertical alignment */
    margin-left: 8px;
    position: relative; /* Ensure this is set for relative positioning of children */
  }
  
  .info-icon:hover .tooltip-text {
    display: block; /* Show tooltip on hover */
    left: 100%; /* Position the tooltip to the right of the icon */
    top: 0; /* Align the top of the tooltip with the top of the icon */
    white-space: normal; /* Allow the text to wrap */
    margin-left: 8px; /* Add some space between the icon and the tooltip */
  }
  
  .tooltip-text {
    display: none; /* Hidden by default */
    position: absolute; /* Positioned relative to its nearest positioned ancestor */
    background-color: #333; /* Tooltip background */
    color: #fff; /* Tooltip text color */
    padding: 5px; /* Padding around text */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.75rem; /* Adjust the font size to make the text smaller */
    left: 100%; /* Position the tooltip to the right of the icon */
    top: 0; /* Align the top of the tooltip with the top of the icon */
    margin-left: 8px; /* Add some space between the icon and the tooltip */
    max-width: 400px; /* Increased maximum width of the tooltip */
    white-space: normal; /* Changed to allow wrapping */
    width: max-content; /* Adjust width based on content, up to the max-width */
    transform: translateX(10px); /* Adjust horizontally if needed */
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    height: 45vh;
    margin-bottom: 20px;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* or 'absolute' */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }  

  .explore-button:disabled {
    background-color: #cccccc; /* Light grey to indicate it's disabled */
    cursor: not-allowed; /* Change cursor to indicate that the button cannot be clicked */
  }

  .section-subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    font-family: 'Open Sans', serif;
    text-align: left;
    width: 70%;
  }

  .section-subtitle-text {
    font-size: 24px;
    font-family: 'Patua One', sans-serif;
    font-weight: normal;
    margin-top: 10px;
    text-align: left;
  }

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 70%;
    max-height: 300px;
    overflow-y: auto;
  }

  .tag {
    display: inline-block;
    background-color: #e0e0e000;
    color: #ce2f2f;
    border: solid 1px #ce2f2f;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 14px;
    margin: 2px;
  }
  
  